@model IEnumerable<T2_PILCO_JOSEE.Models.Distribuidor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Distribuidores</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Distribuidor" asp-action="Crear" class="btn btn-primary">Nuevo Distribuidor</a>
        </div>
    </div>

    <br />

    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Razón Social</th>
                    <th>Teléfono</th>
                    <th>Año Inicio</th>
                    <th>Contacto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreDistribuidor</td>
                        <td>@item.RazonSocial</td>
                        <td>@item.Telefono</td>
                        <td>@item.AnioInicioOperacion</td>
                        <td>@item.Contacto</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Distribuidor" asp-action="Editar" asp-route-Id="@item.Id" class="btn btn-primary mx-2">Editar</a>
                                <a asp-controller="Distribuidor" asp-action="Eliminar" asp-route-Id="@item.Id" class="btn btn-danger mx-2">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay registros de distribuidores.</p>
    }
</div>
